{
    "name": "{{ garConnectorVersion }}",
    {% if (item == 'jobs') %}
    "worker" : true,
    {% endif %}
    "config": {
        "main" : "fr.openent.gar.Gar",
        "port" : 8164,
        "app-name" : "Mediacentre",
        "app-address" : "/mediacentre",
        "app-icon" : "Mediacentre-large",
        "host": "https://{{ host }}",
        "ssl" : true,
        "event-collection": "gar-events",
        "auto-redeploy": false,
        "userbook-host": "https://{{ host }}",
        "integration-mode" : "HTTP",
        "app-registry.port" : 8012,
        "dev-mode" : {{ garDevMode | default('false') }},
        "mode": "prod",
        "entcore.port" : 8009,
        "max-nodes": 10000,
        "export-path": "{{ garExportPath | default('') }}/data/",
        "export-archive-path": "{{ garExportPath | default('') }}/data-compress/",
        {% if garIdEnt is defined %}
        "id-ent" : "{{ garIdEnt }}",
        {% else %}
        "id-ent" : {{ garIdsEnt }},
        {% endif %}
        "control-group" : "RESP-AFFECT-GAR",
        {% if garExportCron is defined %}
        "export-cron": "{{ garExportCron }}",
        {% else %}
        "export-cron": "0 0 21 * * ? 2099",
        {% endif %}
        {% if xsdRecipientList is defined %}"xsd-recipient-list": {{ xsdRecipientList }},{% endif %}
        {% if garAcademyPrefix is defined %}"academy-prefix": "{{ garAcademyPrefix }}",{% endif %}
        {% if garEntIdSources is defined %}"entid-sources": {{ garEntIdSources }},{% endif %}
        "pagination-limit": {{ paginationLimit|default('25000') }},
        {% if garRessourcesHost is defined %}
        "gar-ressources" : {
            "host": "{{ garRessourcesHost }}",
            "cert": "{{ garRessourcesCert | default('') }}",
            "key": "{{ garRessourcesKey | default('') }}"
        },
        {% else %}
        "gar-ressources" : {{ garRessources | default('{ }') }},
        {% endif %}
        {% if garSftpHost is defined %}
        "gar-sftp" : {
            "host": "{{ garSftpHost }}",
            "port": {{ garSftpPort | default('22') }},
            "username": "{{ garSftpUsername | default('') }}",
            "passphrase": "{{ garSftpPassphrase | default('') }}",
            "sshkey": "{{ garSftpSshkey | default('') }}",
            "dir-dest": "{{ garSftpDirDest | default('') }}",
            "known-hosts": "{{ garSftpKnownHost | default('') }}"
        },
        {% else %}
        "gar-sftp" : {{ garSftp | default('{ }') }},
        {% endif %}
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": 13
                },
                "LIBELLE_SERVICE": {
                    "default": "PAGE_ENT"
                }
            }
        }
    }
}